@font-face {
   font-family: 'CirceRounded-Regular';
   font-display: swap;
   src: url('file:///C:/Users/%D0%90%D0%B4%D0%BC%D0%B8%D0%BD1/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-05-05_114126/fonts/CirceRounded-Regular/font.woff');
}
